/*Universal style*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}
/*Header style*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

}
.header h1, 
.header h4 {
    margin: 5px;
}
/*Win-lose Display*/
.display-win-lose {
    display: flex;
    background-color: green;
    height: 80px;
    width: 400px;
}
.display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    font-size: 1.2rem;
}
/*Chips style*/
.chips-container {
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
}
.chip {
    display: flex;
    max-height: 30px;
    max-width: 100px;
    margin: 5px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/*Word display style*/
.word-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-width: 400px;
    padding-top: 20px;
    font-size: 1.5rem;
}
.letter {
    height: 40px;
    width: 40px;
    margin: 3px;
    background-color: #323232;
    border: black 2px solid;
    border-bottom: white 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Keyboard style*/
.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    max-width: 400px;
}
.keyboard button {
    height: 35px;
    width: 35px;
    margin: 3px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.play-again-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.play-again {
    height: 50px;
    width: 150px;
    background-color: lightseagreen;
}




